<table class="table table-condensed">
    <thead>
    <tr>
        <th data-field="priority">
            <button type="button" class="btn btn-default btn-link">
               Priority <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
            </button>
        </th>
        <th data-field="time">
            <button type="button" class="btn btn-default btn-link">
                Time <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
            </button>
        </th>
        <th >Method</th>
        <th>Status code</th>
        <th>Host</th>
        <th>Path</th>
        <th>User agent</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr data-id="{{ entry.id }}" class="{% if not entry.viewed %}success{% endif %}">
            <td><select class="form-control priority" data-value="{{ entry.priority }}"></select></td>
            <td class="col-md-2">{{ entry.time }}</td>
            <td class="col-md-1">{{ entry.method }}</td>
            <td class="col-md-1">{{ entry.status_code }}</td>
            <td class="col-md-1">{{ entry.host }}</td>
            <td class="col-md-1">{{ entry.path }}</td>
            <td class="col-md-5">{{ entry.user_agent }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<input type="hidden" id="non_viewed_count" value="{{ non_viewed_count }}">