<table class="table table-condensed">
    <thead>
    <tr>
        <th>Method</th>
        <th>Url</th>
        <th>Status Code</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>HTTP</td>
        <td>http://127.0.0.1:8000</td>
        <td>200</td>
        <td>03.04.2017</td>
    </tr>
    <tr>
        <td>HTTP</td>
        <td>http://127.0.0.1:8000</td>
        <td>200</td>
        <td>03.04.2017</td>
    </tr>
    <tr>
        <td>HTTP</td>
        <td>http://127.0.0.1:8000</td>
        <td>200</td>
        <td>03.04.2017</td>
    </tr>
    </tbody>
</table>
