<table class="table table-condensed">
    <thead>
    <tr>
        <th>Priority</th>
        <th>Method</th>
        <th>Status code</th>
        <th>Host</th>
        <th>Path</th>
        <th>User agent</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr data-id="{{ entry.id }}" class="{% if not entry.viewed %}success{% endif %}">
            <td><select class="form-control priority" data-value="{{ entry.priority }}"></select></td>
            <td>{{ entry.method }}</td>
            <td>{{ entry.status_code }}</td>
            <td>{{ entry.host }}</td>
            <td>{{ entry.path }}</td>
            <td>{{ entry.user_agent }}</td>
            <td>{{ entry.time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<input type="hidden" id="non_viewed_count" value="{{ non_viewed_count }}">