{% extends "home.html" %}

{% block main_content %}

    <div class="container">
        <div class="row">

            <div class="col-xs-6">
                <div class="col-sm-12"><h4>Name</h4></div>

                <div class="col-sm-6">First Name:</div>
                <div class="col-sm-6">{{ profile.user.first_name }}</div>

                <div class="col-sm-6">Last name:</div>
                <div class="col-sm-6">{{ profile.user.last_name }}</div>

                <div class="col-sm-6">Date of birth:</div>
                <div class="col-sm-6">{{ profile.birthday|date:'m-d-Y' }}</div>

                <div class="col-sm-6">Biography:</div>
                <div class="col-sm-12">{{ profile.biography|escape }}</div>
            </div>

            <div class="col-xs-6">
                <div class="col-sm-12"><h4>Contacts</h4></div>

                <div class="col-sm-6">Email:</div>
                <div class="col-sm-6">{{ profile.user.email }}</div>

                <div class="col-sm-6">Jabber:</div>
                <div class="col-sm-6">{{ profile.jabber }}</div>

                <div class="col-sm-6">Skype:</div>
                <div class="col-sm-6">{{ profile.skype }}</div>

                <div class="col-sm-6">Other contacts:</div>
                <div class="col-sm-12">{{ profile.other_contacts|escape }}</div>
            </div>

        </div>
    </div>
{% endblock %}