{% extends "home.html" %}
{% load staticfiles %}

{% block title %}Messenger{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 current-chat">
            <div class="row current-chat-area">
                <div class="col-md-12">
                      <ul class="chat">
                        <li class="clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Halan Andrey</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>10 May at 5:00pm
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                                                  <li class="clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Halan Andrey</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>10 May at 5:00pm
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                                                  <li class="clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Halan Andrey</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>10 May at 5:00pm
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row current-chat-footer">
                <div class="panel-footer">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Send</button>
                      </span>
                    </div>
                </div>
            </div>
		</div>
        <div class="col-md-4">
        	 <div class="row chats-row">
                <div class="col-md-12">
                    <h5 class="panel-heading">Online members <span class="badge">1</span></h5>
                    <img src="https://i.stack.imgur.com/uBnTY.png" alt="..." class="img-responsive">
        	    </div>
        	 </div>
		</div>
	</div>
</div>

{% endblock %}