{% extends "home.html" %}
{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block main_content %}
    <div class="col-md-12 notifications">
        <div class="alert alert-success notifications-text"></div>
    </div>

    <form enctype="multipart/form-data" method="post" class="form-horizontal profile-edit-form">
        {% csrf_token %}

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3" for="{{ form.first_name.html_first_name }}">
                    {{ form.first_name.label }}
                </label>
                <div class="col-md-9">
                    {{ form.first_name }}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3" for="{{ form.last_name.html_name }}">
                    {{ form.last_name.label }}
                </label>
                <div class="col-md-9">
                    {{ form.last_name }}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3" for="{{ form.birthday.html_name }}">
                    {{ form.birthday.label }}
                </label>
                <div class="col-md-9">
                    {{ form.birthday }}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3" for="{{ form.photo.html_name }}">
                    {{ form.photo.label }}
                </label>
                <div class="col-md-9">
                    {{ form.photo }}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="thumbnail">
                    {% if form.photo.value %}
                        <img src="{{ MEDIA_URL }}{{ form.photo.value }}" alt="...">
                    {% else %}
                         <img src="{% static "img/empty.jpg" %}" alt="...">
                    {% endif %}
                </div>
            </div>

            <div class="col-md-9">
                <input type="submit" name="submit" value="Save"
                       class="btn btn-default btn-edit-submit"/>
                <a href="{% url 'profile:home' %}" class="btn btn-link">Cancel</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3" for="{{ form.email.html_name }}">
                    {{ form.email.label }}
                </label>
                <div class="col-md-9">
                    {{ form.email }}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3" for="{{ form.jabber.html_name }}">
                    {{ form.jabber.label }}
                </label>
                <div class="col-md-9">
                    {{ form.jabber }}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3" for="{{ form.skype.html_name }}">
                    {{ form.skype.label }}
                </label>
                <div class="col-md-9">
                    {{ form.skype }}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3" for="{{ form.other_contacts.html_name }}">
                    {{ form.other_contacts.label }}
                </label>
                <div class="col-md-12">
                    {{ form.other_contacts }}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3" for="{{ form.biography.html_name }}">
                    {{ form.biography.label }}
                </label>
                <div class="col-md-12">
                    {{ form.biography }}
                    <span class="help-block"></span>
                </div>
            </div>
        </div>

    </form>
{% endblock %}

{% block extrascripts %}
    {{ form.media }}
    <script src="{% static 'js/edit.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            editForm.init("{% url 'profile:edit' %}");
        });
    </script>
{% endblock extrascripts %}