{% extends "home.html" %}
{% load staticfiles %}

{% block title %}Messenger{% endblock %}

{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 chat">
            <div class="row chat-area">
                <div class="col-md-12">
                      <ul class="chat-messages"></ul>
                </div>
            </div>
            <div class="row chat-footer">
                <div class="panel-footer">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Send</button>
                      </span>
                    </div>
                     <p class="help-block typing-indicator"></p>
                </div>
            </div>
		</div>
        <div class="col-md-6">
        	 <div class="row">
                <div class="col-md-12 chat-sidebar">
                    <h5 class="panel-heading">Online members <span class="badge"></span></h5>
        	    </div>
                 <div class="chat-map"></div>
        	 </div>

		</div>
	</div>
</div>

{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/messenger.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var opts = {
                subscribeKey: "{{ settings.PUBNUB_SUBSCRIBE_KEY }}",
                publishKey: "{{ settings.PUBNUB_PUBLISH_KEY }}",
                channel: "{{ settings.PUBNUB_CHANNEL }}",
                username: "{{ user.username }}",
                latitude: 47.450380,
                longitude: 22.500000
            };

            Messenger.init(opts);
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ settings.GOOGLE_API_KEY }}"></script>
{% endblock extrascripts %}