{% extends "home.html" %}
{% load staticfiles %}

{% block title %}Messenger{% endblock %}

{% block main_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 chat">
            <div class="row chat-area">
                <div class="col-md-12">
                      <ul class="chat-messages"></ul>
                </div>
            </div>
            <div class="row chat-footer">
                <div class="panel-footer">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Send</button>
                      </span>
                    </div>
                     <p class="help-block typing-indicator"></p>

                </div>
            </div>
		</div>
        <div class="col-md-4">
        	 <div class="row chats-row">
                <div class="col-md-12">
                    <h5 class="panel-heading">Online members <span class="badge"></span></h5>
                    <img src="https://i.stack.imgur.com/uBnTY.png" alt="..." class="img-responsive">
        	    </div>
        	 </div>
		</div>
	</div>
</div>

{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/messenger.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var opts = {
                subscribeKey: "{{ settings.PUBNUB_SUBSCRIBE_KEY }}",
                publishKey: "{{ settings.PUBNUB_PUBLISH_KEY }}",
                username: "{{ user.username }}",
                channel: "{{ settings.PUBNUB_CHANNEL }}"
            };

            Messenger.init(opts);
        });
    </script>
{% endblock extrascripts %}