{% extends "home.html" %}
{% load staticfiles %}

{% block title %}Requests{% endblock title %}

{% block main_content %}
    {% csrf_token %}
    <div class="col-md-12 request-history"></div>
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/requests.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var opts = {
                title: document.title,
                url: "{% url 'httplog:requests-history' %}",
                on_page: "{{ settings.HTTP_LOG_ENTRIES_ON_PAGE }}"
            };

            requests.init(opts);
        });
    </script>
{% endblock extrascripts %}