{% extends "home.html" %}

{% block title %}Requests{% endblock title %}

{% block main_content %}
     <div class="col-md-12 request-history"></div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
        function getRequestHistory() {
            $.get("{% url 'httplog:requests-history' %}", function (data) {
                $(".request-history").html(data);
            });
        };

        $(document).ready(function () {
            getRequestHistory();
            getRequestHistoryInterval = setInterval(getRequestHistory, 5000);
        });
    </script>
{% endblock extrascripts %}