{% extends "home.html" %}
{% load staticfiles %}

{% block title %}Requests{% endblock title %}

{% block main_content %}
     <div class="col-md-12 request-history"></div>
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/requests.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "{% url 'httplog:requests-history' %}";

            getRequestHistory(url);
            setTimeout(function (url) {
                getRequestHistory(url)
            }, 10000);
        });
    </script>
{% endblock extrascripts %}