{% extends "base.html" %}

{% block content %}
    {% block header %}
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">42 Coffee Cups Test
                        Assignment</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'profile:home' %}">Home</a></li>
                        <li><a href="{% url 'profile:edit' %}">Edit</a></li>
                        <li><a href="{% url 'httplog:requests' %}">Requests</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                       {% if user.is_authenticated %}
                            <li><a href="#">{{ user.username }}</a></li>
                            <li><a href="{% url 'profile:logout' %}">Logout</a></li>
                       {% else %}
                            <li><a href="{% url 'profile:login' %}">Login</a></li>
                       {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock header %}

    <div class="container">
        <div class="row">
            {% block main_content %}{% endblock %}
        </div>
    </div>
{% endblock %}